biance_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>3968cbf9-0174-1000-d50e-99c638c9c560</groupId>
    <name>biance_template</name>
    <snippet>
        <processGroups>
            <id>d0117541-6f1e-3489-0000-000000000000</id>
            <parentGroupId>e9fd6047-948c-3d6f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>06168d61-529c-3fe4-0000-000000000000</id>
                    <parentGroupId>d0117541-6f1e-3489-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
                        <id>6284282a-144a-3cbb-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>symbol_list</name>
                    <source>
                        <groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
                        <id>560fd3e1-c8af-388c-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>3baca0d4-651f-3ef3-0000-000000000000</id>
                    <parentGroupId>d0117541-6f1e-3489-0000-000000000000</parentGroupId>
                    <position>
                        <x>264.0</x>
                        <y>56.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>002c8ca9-f364-3164-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e060c30-61f8-308b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e2a18b1-a752-32b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1a7f2d7d-5fc1-30a6-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>56dcede7-b7a5-3888-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>a224db19-a41c-3f8e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1df6cdbb-eaf2-3c6e-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>a224db19-a41c-3f8e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>cb52385c-7bbb-3f14-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3b3aef9a-7462-3b6c-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e9a5ea8-9564-3824-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e060c30-61f8-308b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>431c06e1-7f24-3f4d-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e2a18b1-a752-32b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>a224db19-a41c-3f8e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5454d6e8-66d7-35fa-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>5826bbeb-101b-39ec-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e2a18b1-a752-32b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5c0ec0d1-6620-3ae0-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>031ff330-c7a1-3c89-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>c86a5a1a-b1ca-3f31-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>804ca175-d438-3797-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>cb52385c-7bbb-3f14-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>7439cb1e-4388-35a0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>828d40e5-d7f6-3b49-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>7439cb1e-4388-35a0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>30955934-f63c-357c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>86118dd5-8e2d-3bde-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>30955934-f63c-357c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>31d241a8-3e28-3133-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bce807c2-7e91-3e68-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>031ff330-c7a1-3c89-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>4e9a5ea8-9564-3824-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fd94e5f5-2c83-3d4f-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>ab45a83d-45cb-3c4b-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>3baca0d4-651f-3ef3-0000-000000000000</groupId>
<id>a224db19-a41c-3f8e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>39c2e3c0-ede7-3137-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>3e51abfa-796c-3a82-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-parquet-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
<entry>
    <key>compression-type</key>
    <value>
        <name>compression-type</name>
    </value>
</entry>
<entry>
    <key>row-group-size</key>
    <value>
        <name>row-group-size</name>
    </value>
</entry>
<entry>
    <key>page-size</key>
    <value>
        <name>page-size</name>
    </value>
</entry>
<entry>
    <key>dictionary-page-size</key>
    <value>
        <name>dictionary-page-size</name>
    </value>
</entry>
<entry>
    <key>max-padding-size</key>
    <value>
        <name>max-padding-size</name>
    </value>
</entry>
<entry>
    <key>enable-dictionary-encoding</key>
    <value>
        <name>enable-dictionary-encoding</name>
    </value>
</entry>
<entry>
    <key>enable-validation</key>
    <value>
        <name>enable-validation</name>
    </value>
</entry>
<entry>
    <key>writer-version</key>
    <value>
        <name>writer-version</name>
    </value>
</entry>
<entry>
    <key>avro-write-old-list-structure</key>
    <value>
        <name>avro-write-old-list-structure</name>
    </value>
</entry>
<entry>
    <key>avro-add-list-element-records</key>
    <value>
        <name>avro-add-list-element-records</name>
    </value>
</entry>
                            </descriptors>
                            <name>ParquetRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
<entry>
    <key>compression-type</key>
    <value>UNCOMPRESSED</value>
</entry>
<entry>
    <key>row-group-size</key>
</entry>
<entry>
    <key>page-size</key>
</entry>
<entry>
    <key>dictionary-page-size</key>
</entry>
<entry>
    <key>max-padding-size</key>
</entry>
<entry>
    <key>enable-dictionary-encoding</key>
</entry>
<entry>
    <key>enable-validation</key>
</entry>
<entry>
    <key>writer-version</key>
</entry>
<entry>
    <key>avro-write-old-list-structure</key>
    <value>true</value>
</entry>
<entry>
    <key>avro-add-list-element-records</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>cd6e259a-6483-31b2-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonPathReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.json.JsonPathReader</type>
                        </controllerServices>
                        <funnels>
                            <id>56dcede7-b7a5-3888-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>-176.0</x>
<y>328.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>ab45a83d-45cb-3c4b-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>789.0</x>
<y>332.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>031ff330-c7a1-3c89-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>160.0</x>
<y>944.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>39c2e3c0-ede7-3137-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>3e51abfa-796c-3a82-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>30955934-f63c-357c-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>-152.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Rate Control Criteria</key>
        <value>
            <name>Rate Control Criteria</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>
            <name>Maximum Rate</name>
        </value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
        <value>
            <name>Rate Controlled Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>
            <name>Time Duration</name>
        </value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
        <value>
            <name>Grouping Attribute</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Rate Control Criteria</key>
        <value>flowfile count</value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>1 min</value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ControlRate</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ControlRate</type>
                        </processors>
                        <processors>
                            <id>31d241a8-3e28-3133-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>-344.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 minute</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>4e060c30-61f8-308b-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>792.0</x>
<y>496.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>date_time</key>
        <value>
            <name>date_time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>date_time</key>
        <value>${now()}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>4e2a18b1-a752-32b8-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>160.0</x>
<y>472.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>4e9a5ea8-9564-3824-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>544.0</x>
<y>712.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>
            <name>replacement-value-strategy</name>
        </value>
    </entry>
    <entry>
        <key>date_time</key>
        <value>
            <name>date_time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>cd6e259a-6483-31b2-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>3e51abfa-796c-3a82-0000-000000000000</value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>record-path-value</value>
    </entry>
    <entry>
        <key>date_time</key>
        <value>${date_time}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                        </processors>
                        <processors>
                            <id>5826bbeb-101b-39ec-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>-512.0</x>
<y>440.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>7439cb1e-4388-35a0-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>40.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>#{binance_end_point}#{price_ticker}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>a224db19-a41c-3f8e-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>168.0</x>
<y>232.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>date</key>
        <value>
            <name>date</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>date</key>
        <value>$.date</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>c86a5a1a-b1ca-3f31-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>-576.0</x>
<y>696.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Attributes List</key>
        <value>
            <name>Attributes List</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
        <value>
            <name>attributes-to-json-regex</name>
        </value>
    </entry>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>
            <name>Include Core Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>
            <name>Null Value</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Attributes List</key>
        <value>date,date_time,symbol,price</value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
    </entry>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AttributesToJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                        </processors>
                        <processors>
                            <id>cb52385c-7bbb-3f14-0000-000000000000</id>
                            <parentGroupId>3baca0d4-651f-3ef3-0000-000000000000</parentGroupId>
                            <position>
<x>840.0</x>
<y>64.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>date_time</key>
        <value>
            <name>date_time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>date_time</key>
        <value>${now()}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>price_ticker</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>4fccff46-f1aa-3a31-0000-000000000000</id>
                    <parentGroupId>d0117541-6f1e-3489-0000-000000000000</parentGroupId>
                    <position>
                        <x>424.0</x>
                        <y>424.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>096e7262-9436-391f-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>192.0</x>
<y>568.0</y>
                            </bends>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>dbe9c035-265c-33df-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>d6b0a634-4c66-34d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6457d3b1-cf6d-3c79-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>168.0</x>
<y>424.0</y>
                            </bends>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>d6b0a634-4c66-34d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>762994c3-b8e0-3776-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>81db373a-77a4-3e43-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>331292b8-06fa-3bfc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>e81ce44e-e395-37b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>87b034f9-f095-3218-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>208.0</x>
<y>896.0</y>
                            </bends>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>b3490e4a-5dcc-3be9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>e81ce44e-e395-37b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>98249826-835f-3a64-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>762994c3-b8e0-3776-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>6284282a-144a-3cbb-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b62615b7-6891-3df5-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>176.0</x>
<y>752.0</y>
                            </bends>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>e81ce44e-e395-37b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>dbe9c035-265c-33df-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e046dc84-a77d-392f-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>331292b8-06fa-3bfc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>b3490e4a-5dcc-3be9-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f546bcf0-cd2f-3f82-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>b264a750-c0f7-39d3-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>4fccff46-f1aa-3a31-0000-000000000000</groupId>
<id>331292b8-06fa-3bfc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>24360f82-1caf-3c27-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-array</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>63387988-ca1e-3111-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>76b37f6e-462f-3436-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-parquet-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
<entry>
    <key>compression-type</key>
    <value>
        <name>compression-type</name>
    </value>
</entry>
<entry>
    <key>row-group-size</key>
    <value>
        <name>row-group-size</name>
    </value>
</entry>
<entry>
    <key>page-size</key>
    <value>
        <name>page-size</name>
    </value>
</entry>
<entry>
    <key>dictionary-page-size</key>
    <value>
        <name>dictionary-page-size</name>
    </value>
</entry>
<entry>
    <key>max-padding-size</key>
    <value>
        <name>max-padding-size</name>
    </value>
</entry>
<entry>
    <key>enable-dictionary-encoding</key>
    <value>
        <name>enable-dictionary-encoding</name>
    </value>
</entry>
<entry>
    <key>enable-validation</key>
    <value>
        <name>enable-validation</name>
    </value>
</entry>
<entry>
    <key>writer-version</key>
    <value>
        <name>writer-version</name>
    </value>
</entry>
<entry>
    <key>avro-write-old-list-structure</key>
    <value>
        <name>avro-write-old-list-structure</name>
    </value>
</entry>
<entry>
    <key>avro-add-list-element-records</key>
    <value>
        <name>avro-add-list-element-records</name>
    </value>
</entry>
                            </descriptors>
                            <name>ParquetRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
<entry>
    <key>compression-type</key>
    <value>UNCOMPRESSED</value>
</entry>
<entry>
    <key>row-group-size</key>
</entry>
<entry>
    <key>page-size</key>
</entry>
<entry>
    <key>dictionary-page-size</key>
</entry>
<entry>
    <key>max-padding-size</key>
</entry>
<entry>
    <key>enable-dictionary-encoding</key>
</entry>
<entry>
    <key>enable-validation</key>
</entry>
<entry>
    <key>writer-version</key>
</entry>
<entry>
    <key>avro-write-old-list-structure</key>
    <value>true</value>
</entry>
<entry>
    <key>avro-add-list-element-records</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
                        </controllerServices>
                        <funnels>
                            <id>284974c2-8c27-3414-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>-546.0</x>
<y>623.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>6284282a-144a-3cbb-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>426.0</x>
<y>146.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>symbol_list</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>331292b8-06fa-3bfc-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>680.0</x>
<y>1104.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>
            <name>merge-strategy</name>
        </value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
        <value>
            <name>correlation-attribute-name</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>
            <name>min-records</name>
        </value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>
            <name>max-records</name>
        </value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>
            <name>min-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-size</key>
        <value>
            <name>max-bin-size</name>
        </value>
    </entry>
    <entry>
        <key>max-bin-age</key>
        <value>
            <name>max-bin-age</name>
        </value>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>
            <name>max.bin.count</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>63387988-ca1e-3111-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>24360f82-1caf-3c27-0000-000000000000</value>
    </entry>
    <entry>
        <key>merge-strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>correlation-attribute-name</key>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>min-records</key>
        <value>1</value>
    </entry>
    <entry>
        <key>max-records</key>
        <value>1</value>
    </entry>
    <entry>
        <key>min-bin-size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>max-bin-size</key>
    </entry>
    <entry>
        <key>max-bin-age</key>
    </entry>
    <entry>
        <key>max.bin.count</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeRecord</type>
                        </processors>
                        <processors>
                            <id>762994c3-b8e0-3776-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>280.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Rate Control Criteria</key>
        <value>
            <name>Rate Control Criteria</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>
            <name>Maximum Rate</name>
        </value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
        <value>
            <name>Rate Controlled Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>
            <name>Time Duration</name>
        </value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
        <value>
            <name>Grouping Attribute</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Rate Control Criteria</key>
        <value>flowfile count</value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>1 min</value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ControlRate</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ControlRate</type>
                        </processors>
                        <processors>
                            <id>b264a750-c0f7-39d3-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>224.0</x>
<y>1360.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
    <entry>
        <key>asks</key>
        <value>
            <name>asks</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>2ebc5a29-b73d-35ea-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>76b37f6e-462f-3436-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>asks</key>
        <value>$.asks</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>b3490e4a-5dcc-3be9-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>120.0</x>
<y>960.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Attributes List</key>
        <value>
            <name>Attributes List</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
        <value>
            <name>attributes-to-json-regex</name>
        </value>
    </entry>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>
            <name>Include Core Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>
            <name>Null Value</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Attributes List</key>
    </entry>
    <entry>
        <key>attributes-to-json-regex</key>
    </entry>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Include Core Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Null Value</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>AttributesToJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                        </processors>
                        <processors>
                            <id>d6b0a634-4c66-34d6-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>432.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>symbol_name</key>
        <value>
            <name>symbol_name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>symbol_name</key>
        <value>.*</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>dbe9c035-265c-33df-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>368.0</x>
<y>584.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>time_stamp</key>
        <value>
            <name>time_stamp</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>#{binance_end_point}#{order_book}?symbol=${symbol_name.0}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>time_stamp</key>
        <value>${now()}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>e81ce44e-e395-37b8-0000-000000000000</id>
                            <parentGroupId>4fccff46-f1aa-3a31-0000-000000000000</parentGroupId>
                            <position>
<x>408.0</x>
<y>744.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>data</key>
        <value>
            <name>data</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>data</key>
        <value>$</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>symbol_depth</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>aac37ee6-c124-34b1-0000-000000000000</id>
                    <parentGroupId>d0117541-6f1e-3489-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.0</x>
                        <y>56.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>12c946cf-b832-3e23-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1856.0</x>
<y>544.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>75a2d7a9-788b-324b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>84c23433-db02-31dc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1e765055-d153-3cf8-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>544.0</x>
<y>312.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>50e67011-44d9-3788-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>3e8d73bf-972a-3af5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3287d1a7-e58c-31db-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1496.0</x>
<y>376.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>84c23433-db02-31dc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>50e67011-44d9-3788-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3c9ca6a2-08be-39a2-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>536.0</x>
<y>872.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>d736e2c0-7488-31c5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>e6e86243-700b-30ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5ca258a0-c045-3be8-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>536.0</x>
<y>560.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>eb216ce4-84f2-30d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>eb898940-41b0-3634-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>639971d5-f3b4-3844-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>536.0</x>
<y>456.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>eb898940-41b0-3634-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>50e67011-44d9-3788-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6e0d04ad-c298-3a6a-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>e59f827c-26ed-306d-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>d736e2c0-7488-31c5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a020e095-a5fa-3a43-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>560fd3e1-c8af-388c-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>75a2d7a9-788b-324b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ecf0bc9d-b757-32eb-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>560.0</x>
<y>48.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>d0ba4dff-687d-32a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>09c67c76-2f00-3e03-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f6d95d76-84ae-3641-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>88282048-8616-322c-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>d736e2c0-7488-31c5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f8bb88b9-11a9-3bb1-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>552.0</x>
<y>160.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>3e8d73bf-972a-3af5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>d0ba4dff-687d-32a6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f906a9af-a1fe-3a0e-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>520.0</x>
<y>728.0</y>
                            </bends>
                            <destination>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>e6e86243-700b-30ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>aac37ee6-c124-34b1-0000-000000000000</groupId>
<id>eb216ce4-84f2-30d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>3e69246a-4b73-3103-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-parquet-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>cache-size</key>
    <value>
        <name>cache-size</name>
    </value>
</entry>
<entry>
    <key>compression-type</key>
    <value>
        <name>compression-type</name>
    </value>
</entry>
<entry>
    <key>row-group-size</key>
    <value>
        <name>row-group-size</name>
    </value>
</entry>
<entry>
    <key>page-size</key>
    <value>
        <name>page-size</name>
    </value>
</entry>
<entry>
    <key>dictionary-page-size</key>
    <value>
        <name>dictionary-page-size</name>
    </value>
</entry>
<entry>
    <key>max-padding-size</key>
    <value>
        <name>max-padding-size</name>
    </value>
</entry>
<entry>
    <key>enable-dictionary-encoding</key>
    <value>
        <name>enable-dictionary-encoding</name>
    </value>
</entry>
<entry>
    <key>enable-validation</key>
    <value>
        <name>enable-validation</name>
    </value>
</entry>
<entry>
    <key>writer-version</key>
    <value>
        <name>writer-version</name>
    </value>
</entry>
<entry>
    <key>avro-write-old-list-structure</key>
    <value>
        <name>avro-write-old-list-structure</name>
    </value>
</entry>
<entry>
    <key>avro-add-list-element-records</key>
    <value>
        <name>avro-add-list-element-records</name>
    </value>
</entry>
                            </descriptors>
                            <name>ParquetRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>cache-size</key>
    <value>1000</value>
</entry>
<entry>
    <key>compression-type</key>
    <value>UNCOMPRESSED</value>
</entry>
<entry>
    <key>row-group-size</key>
</entry>
<entry>
    <key>page-size</key>
</entry>
<entry>
    <key>dictionary-page-size</key>
</entry>
<entry>
    <key>max-padding-size</key>
</entry>
<entry>
    <key>enable-dictionary-encoding</key>
</entry>
<entry>
    <key>enable-validation</key>
</entry>
<entry>
    <key>writer-version</key>
</entry>
<entry>
    <key>avro-write-old-list-structure</key>
    <value>true</value>
</entry>
<entry>
    <key>avro-add-list-element-records</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>daeb8649-b285-31fd-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>infer-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <funnels>
                            <id>88282048-8616-322c-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>1056.0</x>
<y>1120.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>e59f827c-26ed-306d-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>632.0</x>
<y>1112.0</y>
                            </position>
                        </funnels>
                        <outputPorts>
                            <id>560fd3e1-c8af-388c-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>1376.0</x>
<y>912.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>symbol_list</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>09c67c76-2f00-3e03-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>692.0000198158068</x>
<y>-117.49998835864454</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
    <entry>
        <key>filename</key>
        <value>${UUID()}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>3e8d73bf-972a-3af5-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>696.0</x>
<y>168.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>#{binance_end_point}#{exchange_information}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>50e67011-44d9-3788-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>696.0</x>
<y>312.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>75a2d7a9-788b-324b-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>1320.0</x>
<y>568.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.symbol</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>84c23433-db02-31dc-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>1320.0</x>
<y>424.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[
  {
    "operation": "shift",
    "spec": {
      "symbols": {
        "*": {
          "symbol": "symbol"
        }
      }
    }
  }
]
</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>JoltTransformJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>d0ba4dff-687d-32a6-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>696.0</x>
<y>24.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Rate Control Criteria</key>
        <value>
            <name>Rate Control Criteria</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>
            <name>Maximum Rate</name>
        </value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
        <value>
            <name>Rate Controlled Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>
            <name>Time Duration</name>
        </value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
        <value>
            <name>Grouping Attribute</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Rate Control Criteria</key>
        <value>flowfile count</value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>1 min</value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ControlRate</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ControlRate</type>
                        </processors>
                        <processors>
                            <id>d736e2c0-7488-31c5-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>880.0</y>
                            </position>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Block Size</key>
        <value>
            <name>Block Size</name>
        </value>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
        <value>
            <name>IO Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replication</key>
        <value>
            <name>Replication</name>
        </value>
    </entry>
    <entry>
        <key>Permissions umask</key>
        <value>
            <name>Permissions umask</name>
        </value>
    </entry>
    <entry>
        <key>Remote Owner</key>
        <value>
            <name>Remote Owner</name>
        </value>
    </entry>
    <entry>
        <key>Remote Group</key>
        <value>
            <name>Remote Group</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>
            <name>Ignore Locality</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>#{hdfs_config}</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>#{hdfs_path}exchangeInfo/</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Block Size</key>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
    </entry>
    <entry>
        <key>Replication</key>
    </entry>
    <entry>
        <key>Permissions umask</key>
    </entry>
    <entry>
        <key>Remote Owner</key>
    </entry>
    <entry>
        <key>Remote Group</key>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                        </processors>
                        <processors>
                            <id>e6e86243-700b-30ba-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>736.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>daeb8649-b285-31fd-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>3e69246a-4b73-3103-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>eb216ce4-84f2-30d4-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>688.0</x>
<y>600.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${uuid}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>eb898940-41b0-3634-0000-000000000000</id>
                            <parentGroupId>aac37ee6-c124-34b1-0000-000000000000</parentGroupId>
                            <position>
<x>696.0</x>
<y>456.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.symbols</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>binance_exchange</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>binance</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/31/2020 19:48:41 AEST</timestamp>
</template>
